*{ 
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 34);
    color:white;
    font-family: 'poppins' , sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: rgb(3, 3, 61);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 24px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
  color: rgb(25, 25, 201);
  font-size: 1.04rem;
}
.right{
    font-size: 1.6rem;
}
.main hr{
  border: 0
  background; red;
  height: 1.2px;
  margin: 40px 84px;
}
.firstsection{
    display:flex;
    justify-content: space-around;
    margin:23px 0;
}
.firstsection > div{
  width: 30%;
}
.leftsection{
  margin: 70px 0;
  font-size: 2rem;
}
.rightsection img{
  width: 80%;
  margin: 50px 0;
}
.purple{
  color: rgb(14, 228, 228);
}
.text-gray{
  color: gray;
}
element{
  color: rgb(132, 50, 209);
}
.secondsection{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondsection h1{
  font-size: 1.7rem;
}
.secondsection .box{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 50px 0;
  display: flex;
}
.secondsection .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}
