* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9ff;
  color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10%;
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-content {
  max-width: 600px;
}

.about-content h1 {
  color: purple;
  margin-bottom: 10px;
}

.about-content .name {
  color: purple;
  font-weight: bold;
}

.about-content p {
  margin: 15px 0;
  line-height: 1.6;
}

.about-content ul {
  list-style: square inside;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #a64ca6;
}
